In [83]:
'''
Eclipse_Fusion
Paranormal Business
Add your analysis here.

UFO Sightings via: https://www.kaggle.com/datasets/NUFORC/ufo-sightings/data
'''

'\nEclipse_Fusion\nParanormal Business\nAdd your analysis here.\n\nUFO Sightings via: https://www.kaggle.com/datasets/NUFORC/ufo-sightings/data\n'

In [94]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import seaborn as sb

# Sightings data files
sightings_path = "Resources/scrubbed.csv"


# Read the scrubbed data, low_memory=False solves the following error:
# DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
aliens_all = pd.read_csv(sightings_path, low_memory=False)


# Display the data table for preview
aliens_all.head()

,year,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,1949,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,1955,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,1956,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,1960,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [95]:
# Checking for duplicate entries

alien_dupes = aliens_all[aliens_all.duplicated(subset=["datetime","city"])]
alien_dupes.head()

,year,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
76,1998,10/10/1998 17:30,las vegas,nv,us,circle,2700,45min.,Ufo sighting in las vegas near Area51,8/30/1999,36.175,-115.136389
289,1989,10/11/1989 21:00,kewanee,il,us,sphere,300,5 minutes,Reddish-orange sphere seen outside Kewanee&#44 IL,7/26/2002,41.2455556,-89.924722
310,1999,10/11/1999 20:15,portville,ny,us,oval,30,30 seconds,Was oval shaped had different colored lights a...,10/19/1999,42.0386111,-78.341111
311,1999,10/11/1999 20:15,portville,ny,us,oval,60,1 minute,it was a beautiful oval shaped object that had...,10/19/1999,42.0386111,-78.341111
312,1999,10/11/1999 20:15,portville,ny,us,oval,60,1 minute,oval shaped with colorful lights all around wi...,10/19/1999,42.0386111,-78.341111

In [96]:
# Confirming drop_duplicates is working

aliens_clean = alien_dupes.drop_duplicates(subset=["datetime","city"], keep='first')
aliens_clean.head()

,year,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
76,1998,10/10/1998 17:30,las vegas,nv,us,circle,2700,45min.,Ufo sighting in las vegas near Area51,8/30/1999,36.175,-115.136389
289,1989,10/11/1989 21:00,kewanee,il,us,sphere,300,5 minutes,Reddish-orange sphere seen outside Kewanee&#44 IL,7/26/2002,41.2455556,-89.924722
310,1999,10/11/1999 20:15,portville,ny,us,oval,30,30 seconds,Was oval shaped had different colored lights a...,10/19/1999,42.0386111,-78.341111
463,2013,10/11/2013 20:00,cincinnati,oh,us,fireball,240,4 minutes,Cincinnati fire ball in the sky?,10/14/2013,39.1619444,-84.456944
755,2005,10/1/2005 0:57,orland park,il,us,light,6,:06,Red lights over Orland Park,10/11/2005,41.6302778,-87.853889

In [97]:
# Finalizing reportable dataframe 

aliens = aliens_all.drop_duplicates(subset=["datetime","city"], keep='first')

# Confirming final dataframe is 1025 less than OG
# (Triple confirmed in excel that the duplicate total was 1915 - cleaned dataset 890 = 1025 duplicate entries)

print(len(aliens_all)-len(aliens))

1025

In [98]:
aliens.head()

,year,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,1949,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,1955,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,1956,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,1960,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [99]:
aliens_us = aliens[aliens["country"] == "us"]
aliens_us.head()

,year,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,1956,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,1960,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,1961,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.188889
7,1965,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175,-73.408333

In [100]:
# Dataframe to truncate sightings to last available 20 years of data (1995 to 2014)

aliens_main = aliens_us[aliens_us["year"] >= 1994]
aliens_main.head()

,year,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
59,1994,10/10/1994 18:30,burnt hills,ny,us,rectangle,120,2 minutes,Giant rectangular craft (resembling an upside-...,10/23/2013,42.9097222,-73.895556
60,1994,10/10/1994 22:00,pinebergen,ar,us,light,5,5 seconds,Round&#44 bright&#44 low flying object silentl...,2/18/2001,34.1027778,-91.992222
62,1995,10/10/1995 19:45,milwaukee,wi,us,NaN,120,2 min.,Man on Hwy 43 SW of Milwaukee sees large&#44 ...,11/2/1999,43.0388889,-87.906389
63,1995,10/10/1995 22:40,oakland,ca,us,NaN,60,1 minute,Woman repts. bright light in NW sky&#44 sudde...,11/2/1999,37.8044444,-122.269722
64,1996,10/10/1996 3:20,higginsville,mo,us,triangle,3,3sec,illuminated triangular craft&#44 flying at hig...,2/16/2000,39.0725,-93.716944

In [72]:
# Question 1: What areas of the country are most likely to have UFO sightings?

In [79]:
# Q1 Graph 1: Bar - number of sightings by city

In [ ]:
# Q1 Graph 2: Bar - number of sightings by city in Texas

In [74]:
# Question 2: Are there any trends in UFO sightings over time? Do they tend to be clustered or seasonal?

In [ ]:
# Q2 Graph 1: Line - number of sightings overall over time in the US

In [ ]:
# Q2 Graph 2: Line - sightings mapped seasonally

In [75]:
# Question 3: Do clusters of UFO sightings correlate with landmarks, such as airports or government research centers?

In [ ]:
# Q3 Graph 1: Map of Texas Sightings

In [ ]:
# Introducing GEOAPIFY
''' 
API For Airports https://apidocs.geoapify.com/docs/places/#categories
*In pink*
airport
airport.private
airport.international
airport.gliding
airport.airfield
*In Blue*
airport.military
building.military
'''

In [ ]:
# Q3 Graph 2: Correlating map of sightings and airports or government research centers