In [ ]:
'''
Eclipse_Fusion
Paranormal Business
Add your analysis here.
'''

In [51]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import seaborn as sb

# Sightings data files
sightings_path = "Resources/scrubbed.csv"


# Read the scrubbed data, low_memory=False solves the following error:
# DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
aliens_all = pd.read_csv(sightings_path, low_memory=False)


# Display the data table for preview
len(aliens_all)
aliens_all

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658333,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.477778

In [50]:
# Checking for duplicate entries

alien_dupes = aliens_all[aliens_all.duplicated(subset=["datetime","city"])]
alien_dupes

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
76,10/10/1998 17:30,las vegas,nv,us,circle,2700,45min.,Ufo sighting in las vegas near Area51,8/30/1999,36.1750000,-115.136389
289,10/11/1989 21:00,kewanee,il,us,sphere,300,5 minutes,Reddish-orange sphere seen outside Kewanee&#44 IL,7/26/2002,41.2455556,-89.924722
310,10/11/1999 20:15,portville,ny,us,oval,30,30 seconds,Was oval shaped had different colored lights a...,10/19/1999,42.0386111,-78.341111
311,10/11/1999 20:15,portville,ny,us,oval,60,1 minute,it was a beautiful oval shaped object that had...,10/19/1999,42.0386111,-78.341111
312,10/11/1999 20:15,portville,ny,us,oval,60,1 minute,oval shaped with colorful lights all around wi...,10/19/1999,42.0386111,-78.341111
...,...,...,...,...,...,...,...,...,...,...,...
80079,9/8/2012 23:00,maple ridge (canada),bc,ca,light,300,4-5 minutes,Large circular orange/red light spotted in the...,9/24/2012,49.25,-122.500000
80164,9/9/2003 00:30,tampa,fl,us,triangle,300,3 to 5 min.,large ufo -triangle shaped-three lights ((NU...,9/9/2003,27.9472222,-82.458611
80177,9/9/2003 22:00,myrtle beach,sc,us,other,10,10 seconds,More orange lights over Myrtle Beach,9/12/2003,33.6888889,-78.886944
80178,9/9/2003 22:00,myrtle beach,sc,us,sphere,600,approx 10 min.,orangish yellowish sphere over the ocean at my...,9/17/2003,33.6888889,-78.886944
80271,9/9/2010 22:00,gainesville,fl,us,oval,7200,2+ hrs,Multiple sightings by multiple whitnesses&#44 ...,11/21/2010,29.6513889,-82.325000

In [49]:
# Confirming drop_duplicates is working

aliens_clean = alien_dupes.drop_duplicates(subset=["datetime","city"], keep='first')
aliens_clean

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
76,10/10/1998 17:30,las vegas,nv,us,circle,2700,45min.,Ufo sighting in las vegas near Area51,8/30/1999,36.1750000,-115.136389
289,10/11/1989 21:00,kewanee,il,us,sphere,300,5 minutes,Reddish-orange sphere seen outside Kewanee&#44 IL,7/26/2002,41.2455556,-89.924722
310,10/11/1999 20:15,portville,ny,us,oval,30,30 seconds,Was oval shaped had different colored lights a...,10/19/1999,42.0386111,-78.341111
463,10/11/2013 20:00,cincinnati,oh,us,fireball,240,4 minutes,Cincinnati fire ball in the sky?,10/14/2013,39.1619444,-84.456944
755,10/1/2005 00:57,orland park,il,us,light,6,:06,Red lights over Orland Park,10/11/2005,41.6302778,-87.853889
...,...,...,...,...,...,...,...,...,...,...,...
80047,9/8/2011 23:00,volo,il,us,other,180,3 min,orange fireball with a strange shape craft in ...,10/10/2011,42.3261111,-88.167778
80079,9/8/2012 23:00,maple ridge (canada),bc,ca,light,300,4-5 minutes,Large circular orange/red light spotted in the...,9/24/2012,49.25,-122.500000
80164,9/9/2003 00:30,tampa,fl,us,triangle,300,3 to 5 min.,large ufo -triangle shaped-three lights ((NU...,9/9/2003,27.9472222,-82.458611
80177,9/9/2003 22:00,myrtle beach,sc,us,other,10,10 seconds,More orange lights over Myrtle Beach,9/12/2003,33.6888889,-78.886944
80271,9/9/2010 22:00,gainesville,fl,us,oval,7200,2+ hrs,Multiple sightings by multiple whitnesses&#44 ...,11/21/2010,29.6513889,-82.325000

In [54]:
# Finalizing reportable dataframe 

aliens = aliens_all.drop_duplicates(subset=["datetime","city"], keep='first')

# Confirming final dataframe is 1025 less than OG
# (Triple confirmed in excel that the duplicate total was 1915 - cleaned dataset 890 = 1025 duplicate entries)

print(len(aliens_all)-len(aliens))

1025

In [55]:
aliens.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611